.search-button-row {
    display: flex;
    justify-content:space-around;
    padding: 10px;
}

.nearby-search-map {
    display:flex;
    justify-content:center;
    padding:20px;
}

.search-table {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-welcome-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}