.onboard-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #01345B;
    margin: 10px 0px 10px 0px;
}

.onboard-container {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: 4px solid #05386B;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    width: 90vw;
    border-radius: 20px;
}

.onboard-heading {
    color: #01345B;
    margin: 10px 0px 10px 0px;
}