@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: white;
  margin: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #05386B;
  padding: 15px;
  width: 95%;
  color: white;
  align-self: center;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

select {
  padding: 15px;
  border: none;
  background-color: #f1f1f1;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

.search-button {
  background: #01345B;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: 15%;
}

.search-button:disabled {
  cursor: default;
}

.search-input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#type {
  width: 70%;
}

#radius {
  width: 25%
}

#address {
  width: 100%;
}

#city {
  width: 83%;
}

#province {
  width: 12%
}