.recurring-payment-container {
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.recurring-payment-prompt {
  color:#01345B;
  font-weight: bold;
}

.recurring-payment-form {
  display: flex;
  flex-direction: column;
}

.recurring-payment-row {
  display: flex;
}

.recurring-payment-field, .recurring-payment-frequency-box {
  border: 1px solid #01345B;
  border-radius: 5px;
  color: #01345B;
}

.recurring-payment-field{
  padding-left: 10px;
}

.recurring-payment-frequency-inputs {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.recurring-payment-frequency-inputs.number {
  width: 3.5rem;
}

.recurring-payment-field::placeholder, ::-webkit-calendar-picker-indicator, .recurring-payment-frequency-inputs, .recurring-payment-frequency-inputs::placeholder, .recurring-payment-button {
  color: #01345B;
}


.recurring-payment-button {
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  color: white;
  background-color: #01345B;
  border-radius: 20px;
  font-weight: bold;
  width: 8rem;
}

.recurring-suggestions-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


