.recurring-payment-container {
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.recurring-payment-prompt {
  color:#01345B;
  font-weight: bold;
}

.recurring-payment-form {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.recurring-payment-field, .recurring-payment-frequency-box {
  width: 20%;
  border: 1px solid #01345B;
  border-radius: 5px;
  color: #01345B;
}

.recurring-payment-frequency-inputs {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.recurring-payment-field::placeholder, ::-webkit-calendar-picker-indicator, .recurring-payment-frequency-inputs, .recurring-payment-frequency-inputs::placeholder, .recurring-payment-button {
  color: #01345B;
}

.recurring-payment-field{
  padding-left: 10px;
}

.recurring-payment-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recurring-payment-button {
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #01345B;
  border-radius: 5px;
  font-weight: bold;
  min-width: 40%;
}

