.recurring-payment-container {
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.recurring-payment-prompt {
  color:#01345B;
  font-weight: bold;
}

.recurring-payment-form {
  display: flex;
  flex-direction: column;
  border: #01345B 2px solid;
  border-radius: 0px 0px 10px 10px;
  margin: 20px;
  width: fit-content;
}

.recurring-payment-row {
  display: flex;
}

.recurring-payment-field, .recurring-payment-frequency-box {
  border: 1px solid #01345B;
  border-radius: 5px;
  color: #01345B;
}

.recurring-payment-field{
  padding-left: 10px;
  height: 100%;
  width: 150px;
}

.recurring-payment-frequency-inputs {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.recurring-payment-frequency-inputs.number {
  width: 3.5rem;
}

.recurring-payment-field::placeholder, ::-webkit-calendar-picker-indicator, .recurring-payment-frequency-inputs, .recurring-payment-frequency-inputs::placeholder, .recurring-payment-button {
  color: #01345B;
}

.recurring-payment-button {
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  color: white;
  background-color: #01345B;
  border-radius: 20px;
  font-weight: bold;
  width: 8rem;
  border: 2px solid #01345B;
}

.recurring-suggestions-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.recurring-payment-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  height: 100%;
}

.recurring-payment-label-text {
  padding: 10px;
  color: white;
  background-color: #01345B;
}

.recurring-payment-table-body {
  width: fit-content;
}

.recurring-payment-field.transactions {
  width: 90px;
}

.recurring-payment-field.date {
  width: 135px;
}

.transaction-filter-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.subscription-suggestion-button {
  border-radius: 12px;
}