h1, h3 {
    color: #01345B;
    text-align: center;
}

.dashboard-header {
    padding: 5px;
    margin: 10px 20px 0px 20px;
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.dashboard-container.subscriptions {
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-container.stocks {
    flex-direction: column;
}

.stocks.heading {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.stocks.left {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #01345B;
}

.stocks-direction {
    color: green;
    font-size: 1.5em;
}