h1, h3 {
    color: #01345B;
    text-align: center;
}

.dashboard-header {
    padding: 5px;
    margin: 10px 20px 0px 20px;
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.dashboard-container.subscriptions {
    flex-direction: column;
    justify-content: center;
}

.stocks.message {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #01345B;
}

.stocks-direction {
    color: #4CAF50;
    font-size: 1.5em;
}

.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.graph-container h3 {
    justify-self: flex-end;
}