.subscription-table table th td {
    border: #01345B 2px solid;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.subscription-table-title-row {
    background-color: #01345B;
    color: white;
}

.subscription-table table {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.subscription-table {
    padding: 10px;
}