.dashboard-container {
    border: 2px solid #01345B;
    border-radius: 20px; 
    margin: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.dashboard-heading {
    text-align: center;
    background: #01345B;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.dashboard-content {
    display: flex;
    flex-flow: row wrap;
}

.asset-table {
    display: flex;
    justify-content: center;
    padding: 100px;
}
  
.asset-table th {
    background-color: grey;
    color: white;
    padding: 2px 20px 2px 20px;
}